@import "reset.css";

@font-face {
    font-family: OpenSans;
    src: url(../fonts/opensans.ttf);
    src: url(../fonts/opensans.woff);
}

@font-face {
    font-family: "Nexa Bold";
    src: url(../fonts/nexabold.ttf);
    src: url(../fonts/nexabold.woff);
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,500,700&display=swap');

body {
    background-color: #fff;
}

.container {
    font-family: Montserrat, sans-serif;
}

/* header */
/* ---------------------------------------------------------------------------------- */
.header {
    padding-top: 30px;
    padding-bottom: 30px;
    /* background-color: #fff; */
}

.header_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1211px;
    margin: 0 auto;
}

@media (max-width: 1000px) {
    .header_top {
        flex-direction: column;
        padding-left: 30px;
    }

    .header_top>img {
        align-self: flex-start;
    }

    .header_card {
        margin-top: 20px;
    }

    .header_bottom {
        padding-left: 30px;
    }
    .header_menu {
        margin-bottom: 15px;
    }
}

.header_card {
    display: flex;
}

.card_icon {
    width: 50px;
    height: 50px;
    background-color: #1a9bdc;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}

.card_content {
    align-self: center;
    margin-left: 19px;
    font-family: OpenSans, sans-serif;
    font-weight: 400;
    line-height: 22px;
}

.card_content p:first-child {
    font-weight: 700;
}

hr {
    height: 2px;
    background-color: #c2c2c2;
    opacity: 0.31;
    max-width: 1190px;
    margin: 30px auto;
}

.header_bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1211px;
    margin: 0 auto;
}


.header_menu ul {
    display: flex;
    justify-content: space-between;
    width: 546px;
    color: #6c6c6c;
    font-family: "Nexa Bold";
    font-size: 20px;
    font-weight: 400;
}

@media (max-width: 600px) {
    .header_menu ul {
        flex-direction: column;
    }

    .header_menu li {
        margin-bottom: 15px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #1a9bdc;
}

.active {
    color: #262626;
}

.header_socials {
    color: #191919;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 10px;
    padding-left: 20px;
}

/* banner */
/* -------------------------------------------------------------------------------- */

.banner_container {
    background-color: #cbd4e6;
}
.banner {    
    position: relative;
    height: 640px;
    padding-top: 180px;
    max-width: 1600px;
    margin: 0 auto;
}

.banner_background {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.banner_content {
    position: relative;
    max-width: 524px;
    z-index: 10;
    margin-left: calc((100% - 800px) * 250 / 800);;
}

@media (max-width: 800px) {
    .banner_content {
        margin-left: 10px;
    }
}

.banner h1 {
    color: #474747;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -2px;
    text-align: center;
    margin-bottom: 35px;
}

.banner p {
    color: #3f3f3f;
    font-family: "OpenSans";
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.banner_btn {
    width: 166px;
    height: 47px;
    background-color: #1a9bdc;
    border-radius: 23px;
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    display: block;
    margin: 0 auto;
}

.banner_btn:hover {
    background-color: blue;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.banner_logo {
    position: absolute;
    top: 540px;
    left: calc(50% + 10px);
    z-index: 10;
}

/* Services */
/* --------------------------------------------------------------------------------- */

.services {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 400px));
    justify-content: center;
    background: #43b1d2;
    background: linear-gradient(to right, #43b1d2 0%, #43b1d2 40%, #37c3a7 60%, #37c3a7 100%);
}

@media (max-width: 1200px) {
    .services {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .services {
        grid-template-columns: 1fr;
    }
}

.services_card {
    height: 360px;
    padding-top: 75px;
}

.services_card_image {
    width: 75px;
    height: 75px;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    padding-top: 12px;
    margin: 0 auto;
}

.services_card h3 {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.82px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 25px;
}

.services_card p {
    width: 290px;
    color: #ffffff;
    font-family: "OpenSans";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
}

.services_card:nth-of-type(1) {
    background-color: #43b1d2;
}

.services_card:nth-of-type(2) {
    background-color: #3fb6c6;
}

.services_card:nth-of-type(3) {
    background-color: #3cbbbb;
}

.services_card:nth-of-type(4) {
    background-color: #37c3a8;
}

/* whychoseus */
/* ------------------------------------------------------------------------- */

.whychoseus {
    min-height: 856px;
    background-image: url(../img/Layer_2.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 110px;
    background-color: #fff;
    max-width: 1600px;
    margin: 0 auto;
}

@media (max-width: 1000px) {
    .whychoseus {
        grid-template-columns: 1fr;
        background-position: right bottom;
    }

    .whychoseus>header {
        margin-bottom: 30px;
    }

    .whychoseus_card {
        margin-bottom: 50px;
    }
}

.whychoseus>header {
    grid-column: 1/-1;
}

.whychoseus>header>h2 {
    color: #494949;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.whychoseus>header>p {
    max-width: 878px;
    color: #6a6a6a;
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
}

.whychoseus_card_header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 360px;
    margin: 0 auto;
}

.whychoseus_card_image {
    width: 75px;
    height: 75px;
    background-color: #1a9bdc;
    border-radius: 50%;
    text-align: center;
    padding-top: 12px;
    margin-right: 20px;
}

.whychoseus_card_header h3 {
    width: 177px;
    height: 25px;
    color: #6f6f6e;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.82px;
}

.whychoseus_card p {
    width: 363px;
    height: 74px;
    color: #6a6a6a;
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 auto;
}

/* bestfeature */
/* ---------------------------------------------------------------------- */

.bestfeature {
    min-height: 592px;
    background-color: #0087be;
    background-image: url(../img/Layer_9.png);
    background-size: cover; 
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 325px));
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    .bestfeature {
        grid-template-columns: 1fr 1fr;
        padding-bottom: 30px;
    }

    .bestfeature_card {
        margin-top: 70px;
    }
}

.bestfeature_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.bestfeature_card h3 {
    font-size: 60px;
    font-weight: 500;
    letter-spacing: -1.19px;
    margin-top: 47px;
}

.bestfeature_card div {
    width: 85px;
    height: 6px;
    background-color: #ffffff;
    margin-top: 26px;
}

.bestfeature_card p {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1.52px;
    text-align: center;
    margin-top: 27px;
}

/* textarea */
/* -------------------------------------------------------------------- */

.textarea {
    display: grid;
    grid-template-columns: 1fr 1fr 400px;
    grid-template-rows: 1fr 2fr auto;
    padding: 100px calc(12%);
    grid-gap: 40px;
    background-color: #fff;
    max-width: 1600px;
    margin: 0 auto;
}

.shorttext:nth-of-type(1) {
    grid-column: 1/3;
}

@media (max-width: 1300px) {
    .textarea {
        grid-template-columns: 1fr 1fr;
    }

    .shorttext:nth-of-type(1) {
        grid-column: 1/2;
    }

    .textarea_card:nth-of-type(2) {
        grid-row: 3/4;
    }
}

@media (max-width: 900px) {
    .textarea {
        grid-template-columns: 1fr;
    }

    .shorttext:nth-of-type(2) {
        grid-row: 5/6;
    }
}

.shorttext h3 {
    color: #494949;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 33px;
}

.shorttext p {
    color: #6a6a6a;
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.textarea_card h4 {
    color: #6f6f6e;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1.21px;
    margin-top: 35px;
}

.textarea_card div {
    color: #0087be;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.38px;
    margin-top: 13px;
}

.textarea_card p {
    color: #6a6a6a;
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 27px;
}

.accord_btn {
    width: 422px;
    height: 54px;
    background-color: #e2e2e2;
    border-radius: 27px;
    padding-left: 6px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    color: #494949;
}

.accord_btn>div {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    color: #0087be;
}

.accord_btn p {
    padding-left: 20px;
    font-size: 20px;
    font-weight: 500;
}

.accord_btn:nth-of-type(1) {
    background-color: #0087be;
    color: #fff;
}

.accord_btn:hover {
    background-color: #1a9bdc;
    cursor: pointer;
}

.accord_content {
    color: #6a6a6a;
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 40px;
}

.readmore_btn {
    grid-column: 1/3;
    width: 154px;
    height: 43px;
    background-color: #0087be;
    border-radius: 22px;
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    margin: 0 auto;
}

@media (max-width: 1300px) {
    .readmore_btn {
        grid-column: 1/2;
    }
}

@media (max-width: 900px) {
    .readmore_btn {
        grid-row: 4/5;
    }
}

.readmore_btn:hover {
    cursor: pointer;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    background-color: blue;
}

/* gallery */
/* ---------------------------------------------------------------------- */

.gallery {
    min-height: 826px;
    background-color: #38b69e;
    background-image: url(../img/Layer_3.png);
    display: grid;
    grid-template-columns: repeat(3, 344px);
    grid-template-rows: 150px 210px 210px;
    justify-content: center;
    grid-gap: 35px;
    padding-top: 94px;
}

@media (max-width: 1100px) {
    .gallery {
        grid-template-columns: repeat(2, 344px);
        grid-template-rows: 150px 210px 210px 210px;
        padding-bottom: 30px;
    }
}

@media (max-width: 700px) {
    .gallery {
        grid-template-columns: 344px;
        grid-template-rows: auto repeat(6, 210px);
    }
}

.gallery_header {
    grid-column: 1/-1;
    color: #ffffff;
}

.gallery_header h3 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 35px;
    text-align: center;
}

.gallery_header p {
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

/* team */
/* ----------------------------------------------------------------- */

.team {
    display: grid;
    padding-top: 150px;
    padding-bottom: 130px;
    grid-template-columns: repeat(4, 279px);
    grid-template-rows: 180px auto;
    grid-gap: 28px;
    justify-content: center;
    background-color: #fff;
}

@media (max-width:1200px) {
    .team {
        grid-template-columns: repeat(2, 279px);
        grid-template-rows: 180px auto;
    }
}

@media (max-width: 600px) {
    .team {
        grid-template-columns: 279px;
        grid-template-rows: auto;
    }
}

.team_header {
    grid-column: 1/-1;
}

.team_header h3 {
    color: #494949;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}

.team_header p {
    color: #6a6a6a;
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.team_card {
    display: flex;
    flex-direction: column;
    color: #6f6f6e;
    align-items: center;
}

.team_card_photo {
    width: 279px;
    height: 279px;
    background-color: #e3e3e3;
    border-radius: 50%;
}

.team_card h4 {
    font-size: 25px;
    font-weight: 500;
    margin-top: 29px;
}

.team_card p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -1.09px;
    margin-top: 15px;
}

.team_card_socials {
    color: #0087be;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1.8px;
    margin-top: 32px;
}

/* actionbar */
/* ----------------------------------------------------------------------- */

.actionbar {
    height: 176px;
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionbar p {
    color: #494949;
    font-size: 30px;
    font-weight: 700;
}

@media (max-width:1200px) {
    .actionbar {
        padding: 0 20px;
    }
    .actionbar p {
        font-size: 25px;
    }
}

.actionbar_btn {
    width: 192px;
    height: 54px;
    border-radius: 27px;
    background-color: #0087be;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    margin-left: 70px;
    flex-basis: 192px;
    flex-shrink: 0;
}

.actionbar_btn:hover {
    cursor: pointer;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    background-color: blue;
}

/* footer */
/* --------------------------------------------------------------------- */

.footer {
    min-height: 630px;
    background-color: #171717;
    display: grid;
    grid-template-columns: 300px 200px 200px 240px;
    padding-top: 115px;
    justify-content: center;
    grid-gap: 80px;
}

@media (max-width:1200px) {
    .footer {
        grid-template-columns: 300px 200px;
    }

    .footer_card:last-of-type {
        grid-row: 2;
    }
}

@media (max-width: 600px) {
    .footer {
        grid-template-columns: 1fr;
    }

    .footer_card {
        padding: 0 calc(25%);

    }

    .footer_card:last-of-type {
        grid-row: 4;
    }
}

.footer_card {
    color: #ffffff;
}

.footer_card h4 {
    margin-bottom: 65px;
    font-family: "OpenSans", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.55px;
}

.footer_card_item {
    display: flex;
    margin-bottom: 60px;
}

.footer_card_item img {
    align-self: flex-start;
}

.footer_card_item p {
    opacity: 0.51;
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.4px;
    padding-left: 45px;
}

.footer_socials {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 10px;
}

.footer_card li {
    opacity: 0.51;
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    margin-bottom: 25px;
    list-style-image: url(../img/Vector.png);
    list-style-position: inside;
}

.footer input {
    display: block;
    background-color: #171717;
    border: none;
    border-bottom: 1px solid #c2c2c2;
    width: 230px;
    height: 55px;
    opacity: 0.51;
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: #fff;
}


.footer textarea {
    display: block;
    background-color: #171717;
    border: none;
    border-bottom: 1px solid #c2c2c2;
    width: 230px;
    height: 120px;
    opacity: 0.51;
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: #fff;
}

form button {
    width: 125px;
    height: 35px;
    border-radius: 17px;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    background-color: #0087be;
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    margin-top: 24px;
}

form button:hover {
    background-color: blue;
    cursor: pointer;
}

.copyright {
    background-color: #1a1a1a;
    color: #615555;
    font-family: "OpenSans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.33px;
    text-align: center;
    padding-top: 55px;
    height: 120px;
}